/* HEADER */
.navbar{
	margin-bottom: 0;
}

.jumbotron{
	color: #999999;
	padding: 20px 0;
	margin-bottom: 0;
}

.logo-img{
	margin-top: -25px;
}

/* SLIDESHOW */

.slidebox{
	margin-bottom: 50px;
}

/* SECTION */

h1.section-title{
	margin-top: 50px;
	margin-bottom: 20px;
}

/* POST */

.post{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

.post-top{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
	font-size: 12pt;
}

.post-ranking{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
	width: 770px;
}

.post-top .post-title a.title-top{
	color: #333333;
	text-decoration: none;
	cursor: default;
}

h2.post-title{
	color: #3385ff;
}

h3.post-title{
	color: #3385ff;
}

h3.subtitulo_top{
	color: #8c8c8c;
	text-align: justify;
}

.post .thumb{
	margin-right: 10px;
	width: 40%;
}

.post .thumb-max{
	margin-right: 10px;
	width: 50%;
}

.post .thumb img{
	width: 100%;
}

.top-thumbnail{
	margin-bottom: 15px;
	cursor: default;
}

.post-conteudo{
	word-wrap: break-word;
	white-space: nowrap;
}

.post .conteudo-botoes{
	width: 100%;
	margin-top: 10px;
}

.post-sobre{
	font-size: 15pt;
}

.box{
	/*width: 100%;*/
}

.list-group .item-act{
	background-color: #000;
	border-color: #000;
}

.list-group .item-act:hover{
	background-color: #000;
	border-color: #000;
}

.form-group .form-news{
	width: 520px;
}

.form-group .form-top{
	width: 770px;
}

h1.sem-noticia{
	margin-bottom: 155px;
	color: #8c8c8c;
}

/* ASIDE */

aside{
	margin-top: 50px;
}

aside div.list-group{
	margin-bottom: 35px;
}


/* PAGINATION */

.pagination > li > a{
	color: #595959;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #999999;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #999999;
  border-color: #999999;
}

/*.nav-pagination{
	margin-bottom: 40px;
}
*/

/* CONTATO */

.box-contato{
	margin-top: 40px;
	font-size: 15pt;
}

.area-bottom{
	margin-bottom: 15px;
}

/* FOOTER */

.large-page{
	position: absolute;
	background-color: #101010;
	color: #fff;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 0;
	/*clear: both;*/
	width: 100%;
}

.small-page{
	position: absolute;
	background-color: #101010;
	color: #fff;
	padding: 20px;
	margin-top: 10px;
	bottom: 0;
	/*clear: both;*/
	width: 100%;
}

.text-center{
	margin-top: 20px;
}

/* MEDIA QUERIE */
/* Quando estiver em dipositivos pequenos, a imagem thumb ficará responsiva */

@media screen and (max-width: 768px){
	.post .thumb{
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}